.item-list {
    height: 575px;
    overflow-y: scroll;
    padding-right: 30px;
    margin-right: -20px;
}
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

  .your-cart{
    color: black;
  }

  .fill{
    fill: white;
  }

.body-color{
  padding: 7% 9%;

}

.product-cart{
  margin: 0 65px;

}

.your-carts{
  color: black;
  margin: 10px 20px;
  padding-bottom: 8px;
  font-size: 23px;
}

.remove-btn{
  background-color: #d7202c;
  border: 1px solid #d7202c;
  padding: 0 20px;
  border-radius: 20px;
height: 65px;
}

.cart-page{
  border-radius: 15px;
}

.infor{
  padding-left: 20px;
}

.your-cartss{
  color: black;
  padding-top: 32px;
}

.your-cartsss{
  color: black;
}

.bg{
  background-color: #d7202c;
}






.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 1.7rem;

  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  };
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}


.your-cartvsg{
  color:black;
  padding-top: 7px;
}